{% extends 'base.html' %}

{% block head %}
    
{% endblock head %}
    
{% block nth%}
{% load static %}
<link rel="stylesheet" href="{% static '../static/style.css' %}">
<style>
.feedback-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width:200px;
}

.feedback-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 5px;
}
button{
    padding:10px;
    border-radius:5px;
    border:none;
    margin-bottom: 10px;
    background:#03045e;
    color:#fff;
}
</style>
<div class="container-fluid offset-4 col-md-4">
    <h1>Feedback</h1>
    <form action="{% url 'feedback' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button  type="submit">Submit Feedback</button>
    </form>
</div>

{% for feedback in feedbacks %}
<div class="feedback-list">
    <div class="feedback-item text-dark">
        <strong>{{ feedback.user.username }}</strong> 
            <p>{{ feedback.content }}</p>
        </div>
        {% if feedback.pk %}
        <a class="text-dark" href="{% url 'feedback_update' feedback.pk %}">Update</a>
        <a href="{% url 'feedback_delete' feedback.pk %}">Delete</a>
        {% endif %}
        {% empty %}
        <p>No Feedback Yet. Be the first to share your experience</p>
        {% endfor %}
</div>
{% endblock %}