{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static '../static/style.css' %}">
  {% include "cdnlines.html" %}
</head>
<body>
  <style>
    div{
      background: #03045e;
      border: 2px solid #caf0f8;
      padding:40px;
      border-radius:10px;
      height: 100vh;
      width: 100%;
    }
  </style>
  <div class="container-fluid ofset-4 col-md-4 justify-content-center align-content-center">
    <h3 class="bg-blue">Thanks for Creating Account</h3>
    <a class="bg-blue" href="{% url 'login' %}">Please Login here</a>
  </div>
</body>
</html>